<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.twdev.gosesh">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.location.GPS_ENABLED_CHANGE"/>

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:allowBackup="false"
        tools:replace="allowBackup"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:hardwareAccelerated="true"
        android:name="com.twdev.gosesh.CodeClasses.Binder"
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/noactionbar_whiteStatus">



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>

        </provider>


        <uses-library android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_appid"/>

        <activity
            android:name="cat.ereza.customactivityoncrash.activity.DefaultErrorActivity"
            android:process=":error_activity"
            android:theme="@style/error_activity_theme" />

        <activity android:name="com.twdev.gosesh.Splash_A"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity android:name="com.twdev.gosesh.Accounts.Login_A"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>



        <activity android:name="com.twdev.gosesh.Accounts.Enable_location_A"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>

        <activity android:name="com.twdev.gosesh.Accounts.Login_Phone_A"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Login_phone_A"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>



        <activity android:name="com.twdev.gosesh.Accounts.Get_User_Info_A"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>


        <activity android:name="com.twdev.gosesh.Main_Menu.MainMenuActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/noactionbar_whiteStatus"></activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


        <!-- for google map Api key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_debug_key" />


        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_b" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/coloraccent" />


        <service android:name="com.twdev.gosesh.Firebase_Notification.Notification_Receive">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.twdev.gosesh.Firebase_Notification.CustomNotificationReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.LocalBot" />
            </intent-filter>
        </receiver>


        <activity android:name="com.twdev.gosesh.GoogleMap.MapsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>

        <activity android:name="com.twdev.gosesh.GoogleMap.SearchPlaces"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>

        <activity
            android:name="com.twdev.gosesh.Video_Calling.VideoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

    </application>

</manifest>